@use './colors' as *;
@use './auth.scss' as *;
@use './user.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

html {
  font-family: 'Rubik', sans-serif;
  font-size: 62.5%;
}

.ip-tracker {
  height: 100vh;
  position: relative;

  &__header {
    background-image: url('/pattern-bg.png');
    background-position: center;
    background-size: cover;
    padding: 2rem;
    height: 35vh;
    width: 100%;
    h1 {
      font-weight: 500;
      font-size: 3rem;
      text-align: center;
      margin: 0px auto;
      color: $boardColor;
    }
  }

  &__menu {
    &-btn {
      position: absolute;
      top: 1.3rem;
      right: 0.3rem;
      cursor: pointer;
      background-color: transparent;
      border: none;
      z-index: 10;
    }
    &-nav {
      display: none;

      &-item {
        list-style: none;
        margin: 2rem;
        display: flex;
        justify-content: center;
        &-btn {
          font-size: 3rem;
          font-weight: 700;
          margin: 0px auto;
          letter-spacing: 1rem;
          cursor: pointer;
          border: 2px solid rgba($DarkGray, 0.3);
          border-radius: 1.5rem;
          padding: 1rem 2rem;
          color: rgb(25, 71, 157);
          background-color: $boardColor;
          transition: background-color .4s;
          &:hover {
            border: 2px solid $boardColor;
            border-radius: 1.5rem;
            padding: 1rem 2rem;
            color: $boardColor;
            background-color: transparent;
          }
        }
      }

      &.active {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0, 0.5);
        backdrop-filter: blur(2px);
      }
    }
    
  }

  &__form-container {
    width: 100%;
    border-radius: 1.5rem;
    margin: 1.5rem auto;
    overflow: hidden;
  }

  &__form {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__input {
    outline: none;
    width: 100%;
    padding: 1.5rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    border: 3px solid transparent;
    &:focus {
      border: 3px solid goldenrod;
      background-color: lightyellow;
    }
    &-error {
      background-color: pink;
      border: 3px solid red;
    }  
  }

  &-error-text {
    border-radius: 1rem;
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: red;
    background-color: rgba(pink, 0.3);
  }

  &__form-btn {
    padding: 1.5rem;
    background-color: #000;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $DarkGray;
      img {
        filter: invert(1);
      }
    }

    &-user {
      background-color: #000;
      color: $boardColor;
      position: absolute;
      z-index: 8;
      bottom: 2rem;
      left: 2rem;
      padding: 1.2rem;
      border-radius: 1.5rem;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: $DarkGray;
        img {
          filter: invert(1);
        }
      }
    }
  }

  &__main-board {
    position: relative;
  }

  &__board {
    position: relative;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
    padding: 1.5rem;  
    list-style-type: none;
    background-color: $boardColor;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-item {
      text-align: center;
      margin: 0.1rem auto;
    }

    &-title {
      padding: 0.3rem;
      color: $DarkGray;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.2rem;
    }

    &-value {
      padding: 0.3rem;
      color: $veryDarkGray;
      font-weight: 700;
      font-size: 2.3rem;
    }

    &-add-item-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      background-color: transparent;
      padding: 0.4rem;
      border-radius: 1rem;
      cursor: pointer;
      &:hover {
        background-color: $DarkGray;
        img {
          filter: invert(1);
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

#map {
  height: 65vh;
}

@media screen and (min-width: 576px) {
  .ip-tracker {
    &__form-container {
      width: 50%;
    }
    &__board {
      width: 80%;
    }
  }
}

@media screen and (min-width: 992px) {
  .ip-tracker {
    &__header {
      h1 {
        font-size: 4rem;
        margin: 1rem auto;
      }
    }

    &__menu {
      &-btn {
        display: none;
      }
      &-nav {
        position: absolute;
        display: flex;
        top: 2rem;
        right: 2rem;
        ul {
          display: block;
        }
        &-item {
          margin-bottom: 1px 0px;
        }
        &-item-btn {
          width: 100%;
          font-size: 1rem;
          font-weight: 700;
          margin: 0;
          letter-spacing: 0.3rem;
          cursor: pointer;
          border: 2px solid $boardColor;
          border-radius: 1rem;
          padding: 1rem 2rem;
          color: $boardColor;
          transition: background-color .4s;
          background-color: transparent;
          transition: background-color .4s;
          &:hover {
            border: 2px solid $boardColor;
            border-radius: 1rem;
            padding: 1rem 2rem;
            color: $veryDarkGray;
            background-color: $boardColor;
          }
          
        }
      }
    }

    &__form-container {
      margin: 4rem auto;
    }

    &__board {
      flex-direction: row;
      padding: 2.5rem;
      &-title {
        font-size: 1.3rem;
      }
      &-value {
        font-size: 2rem;
      }

      &-item {
        padding: 1.5rem 2.5rem;
        margin: 0;
        text-align: left;
        border-right: rgba($DarkGray, 0.3) 1px solid;
      } 
      &-item:nth-last-child(-n+2) {
        border-right: transparent 1px solid;
      } 
    }
  }
}